.pointer {
    cursor: pointer;
  }
  
  .card-div {
    height: 100%;
    padding-top: 100px;
  }
  
  .example-card {
    min-width: 350px;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .header {
    padding-bottom: 10px;
  }

  agm-map {
    height: 300px;
  }

  #map {
    height: 500px;
    width: 100%;
   }